[submodule "contrib/PC/PSvid"]
	path = contrib/PC/PSvid
	url = https://github.com/krazynez/PSvid
[submodule "contrib/PC/ziso_compressor"]
	path = contrib/PC/ziso_compressor
	url = https://github.com/Danixu/ziso_compressor
