# ARK-4 specific stuffs
*.Po
contrib/PC/btcnf/*.bin
contrib/PC/prxencrypter/prxencrypter
dist/*
THEME.ARK
ARK.BIN
K.BIN
H.BIN
patch.bin
nand_payloadex*
ARK4.BIN
link.l
ARK_01234.PKG
ipl_block*
*.a
core/compat/pentazemin/rebootex/payload.h
core/compat/pentazemin/rebootex/reboot*
core/compat/psp/rebootex/payload.h
core/compat/psp/rebootex/reboot*
core/compat/vita/rebootex/payload.h
core/compat/vita/rebootex/reboot*
core/compat/vitapops/rebootex/payload.h
core/compat/vitapops/rebootex/reboot*
loader/dc/installer/dcman.h
loader/dc/installer/intrafont.h
loader/dc/installer/iop.h
loader/dc/installer/ipl_update.h
loader/dc/installer/pspbtcnf_02g_dc.h
loader/dc/installer/pspbtcnf_dc.h
loader/dc/installer/pspdecryptmod.h
loader/dc/installer/resurrection.h
loader/dc/installer/tm_mloader.h
loader/dc/installer/tm_msipl.h
loader/dc/installer/vlf.h
loader/dc/msipl/mainbinex/p*
loader/dc/msipl/payloadex/ms*
loader/dc/tmctrl/tmctrl.h
loader/dc/tmctrl/rebootex/payload.h
loader/dc/tmctrl/rebootex/reboot*

# Generic Objects and PSP Binaries
*.o
*.PBP
*.prx
*.SFO
*.elf
EBOOT.BIN
data.psp

# Exceptions
!contrib/PSP/GAME/ARK_DC/*
!contrib/PSP/GAME/ARK_cIPL/*
!contrib/PSP/SAVEDATA/ARK_01234/PARAM.SFO
!extras/menus/savestate/kernel/*.a
!extras/menus/savestate/user/libs/*.a
!extras/menus/savestate/user/libs/ya2d/*.a
!extras/updater/*.SFO
!libs/libvlf/*.a
!libs/prebuilt/*.a
!loader/live/kernel/rodumper/EBOOT_signed.PBP
!loader/live/kernel/chain_loader/link.l
!loader/live/user/signed_eboot/disc0/psp_game/param.sfo
!loader/live/user/signed_eboot/disc0/psp_game/sysdir/EBOOT.BIN
!loader/live/user/vitabubble/PBOOT.PBP
!loader/perma/infinity/*.PBP